# Virtual Environments
cube-sample/
venv/
env/
.venv
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
.Python

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Data & Output
outputs/cdo_output/
outputs/gdal_output/
FAPAR/
METREF/
GIT_CHEATBOOK.md
cube_example/sah_admin0_ocha/
cube_example/sah_pplp/
cube-sample/
# Jupyter
.ipynb_checkpoints/

# Logs
*.log
